#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eno1 --onboot=on --ipv6=no --no-activate --ip=128.200.34.167 --gateway=128.200.34.1
network  --hostname=jon

# Root password
rootpw --iscrypted $6$MbCju3Dehv79X7TJ$8LMttV37DVpe4TKnJBcq9xlM9mHTZlFqjqiR3/tL5EnLaaE.5ebsMEaR0kS4TtVKV6U1d19/wmGiqsSAwzEin/
# System services
services --disabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --initlabel --list=sda3,sda2,sda1
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part pv.533 --fstype="lvmpv" --ondisk=sda --size=211643
volgroup centos --pesize=4096 pv.533
logvol /home  --fstype="xfs" --grow --size=500 --name=home --vgname=centos
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post.log
systemctl restart network.service

yum install -y epel-release
yum install -y ansible git
yum update -y

echo localhost.localdomain >> /home/ansible/hosts

reboot
%end
